logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

Frontend/node_modules
Frontend/.env.production
Frontend/dist
Frontend/.vercel

Backend/node_modules
Backend/.env
Backend/request.http
Backend/model.json
Backend/controllers/upload.ts
Backend/.vercel
