/* DOWNLOAD BUTTON */
.downloadButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 6rem auto 0;
  padding: 1rem 0;
  width: 100%;
  border-top: .2rem solid var(--color-text);
  border-bottom: .2rem solid var(--color-text);
}

.downloadButton {
  text-decoration: none;
  color: inherit;
  font-family: 'RobotoMono', serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  font-weight: bold;
}

@keyframes hoverAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.downloadButton::before, .downloadButton::after {
  color: var(--color-text) !important;
  position: absolute;
  animation: hoverAnim .75s ease-in-out forwards;
  font-size: 2rem;
  font-weight: bold;
}

.downloadButton:hover::before {
  content: '▫';
  bottom: 0;
  left: 0;
  transform: translate(-150%, -15%);
}

.downloadButton:hover::after {
  content: '▫';
  bottom: 0;
  right: 0;
  transform: translate(150%, -15%);
}

.downloadButton:visited {
  color: inherit;
}

.downloadButton svg {
  width: 1rem;
  fill: var(--color-text);
  margin-bottom: .5rem;
}

.downloadButton p {
  font-size: .75rem;
  font-weight: normal;
}
