/* RECETTE */
.recetteContainer {
  margin: 0 auto;
  padding: 6rem 0;
  max-width: 1000px;
}

.recetteHeader {
  text-align: center;
  margin: 0 auto;
  font-size: 2.5rem;
  word-break: break-word;
  text-transform: uppercase;
  text-decoration: underline .2rem;
}

.recetteInfosContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
}

.recetteInfosContainer p {
  margin: 0 .5rem;
  font-family: 'RobotoMono', serif;
  font-size: 1.25rem;
}

.recetteInstructions {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.recetteIngredients, .recetteDirectives {
  width: 50%;
  margin: 0 2rem;
}

.recetteIngredients h1, .recetteDirectives h1 {
  font-size: 2rem;
  font-family: 'SyneMono', serif;
}

.recetteIngredients li, .recetteDirectives li {
  margin: 2.5rem auto;
  font-family: 'RobotoMono', serif;
  font-size: 1.2rem;
}

.recetteIngredients h1 {
  text-align: right;
}

.recetteIngredients ul {
  width: fit-content;
  margin-top: 1rem;
  list-style: none;
  float: right;
  text-align: right;
}

.recetteDirectives ol {
  width: fit-content;
  margin-top: 1rem;
  padding-left: 1rem;
  border-left: .2rem solid var(--color-text);
  list-style: none;
  counter-reset: item;
}

.recetteDirectives li {
  counter-increment: item;
  line-height: 2rem;
}

.recetteDirectives li:before {
  display: inline-block;
  margin-right: 1rem;
  content: "▪ " counter(item) " ▪";
  color: var(--color-text);
  text-align: center;
  font-family: 'SyneMono', serif;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: underline .2rem;
}

.recetteIngredients li:first-of-type, .recetteDirectives li:first-of-type {
  margin-top: 0;
}

.recetteIngredients li:last-of-type, .recetteDirectives li:last-of-type {
  margin-bottom: 0;
}

/* MOBILE */
@media screen and (max-width: 1000px) {
  .recetteContainer {
    padding: 6rem 2rem;
  }

  .recetteInstructions {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .recetteInfosContainer {
    flex-direction: column;
  }
}

@media screen and (max-width: 700px) {
  .recetteInstructions {
    flex-direction: column;
  }

  .recetteInfosContainer {
    margin: 6rem auto;
  }

  .recetteIngredients, .recetteDirectives {
    width: 100%;
    margin: 0 auto;
  }

  .recetteDirectives {
    margin-top: 6rem;
  }

  .recetteIngredients h1, .recetteDirectives h1 {
    text-align: center;
  }

  .recetteIngredients ul {
    float: initial;
    width: 100%;
  }

  .recetteIngredients li {
    text-align: center;
  }

  .recetteDirectives ol {
    border-left: none;
    padding-left: 0;
  }

  .recetteDirectives li {
    text-align: justify;
    hyphens: auto;
    word-spacing: -0.05em;
  }
}

@media screen and (max-width: 340px) {
  .recetteContainer {
    padding: 2rem;
  }
}
